My Library.bib
biblio_pseudo_alex_.bib
data/long_pbe0_homo_uhf-eps-converted-to.pdf
data/long_pbe0_ie_uhf-eps-converted-to.pdf
data/ring_pbe0_homo_uhf-eps-converted-to.pdf
data/ring_pbe0_ie_uhf-eps-converted-to.pdf
data/short_pbe0_homo_uhf-eps-converted-to.pdf
data/short_pbe0_ie_uhf-eps-converted-to.pdf
images/W.svg
images/Wandpz.svg
images/aim_c6h6-eps-converted-to.pdf
images/aim_c6h6.tga
images/diagram-eps-converted-to.pdf
images/lobe.svg
images/p_orbital.svg
images/scheme_complete-eps-converted-to.pdf
main.aux
main.bbl
main.blg
main.log
main.pdf
main.tex_alt
supplementary_material.aux
supplementary_material.log
supplementary_material.pdf
supplementary_material.toc
