$operating system unix
$title
$symmetry cs
$redundant    file=coord
$coord    file=coord
$user-defined bonds    file=coord
$atoms
c  1-8                                                                         \
   basis =c def-SV(P)                                                          \
   ecp   =c ecp-p
h  9-56                                                                        \
   basis =none                                                                 \
   ecp   =h ecp-s
$ecp    file=basis
$rundimensions
   dim(fock,dens)=7428
   natoms=56
   nshell=48
   nbf(CAO)=120
   dim(trafo[SAO<-->AO/CAO])=136
   rhfshells=2
$uhf
$uhfmo_alpha   file=alpha
$uhfmo_beta   file=beta
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor      500
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$optimize
   internal   off
   cartesian  on
   global     off
   basis      off   logarithm
$last SCF energy change = -.95412304E-01
$charge from dscf
          0.000 (not to be modified here)
$ssquare from dscf
          2.109 (not to be modified here)
$basis file=basis
$energy    file=energy
$grad    file=gradient
$dft
   functional tpss
   gridsize   m4
$scfconv   6
$scfdamp   start=0.700  step=0.050  min=0.050
$scforbitalshift  closedshell=.05
$alpha shells
 a"      1-5                                    ( 1 )
$beta shells
 a"      1-3                                    ( 1 )
$last step     dscf
$dipole from dscf
  x    -0.00021082441551    y    -0.00003880340601    z     0.00000000000000    a.u.
   | dipole | =    0.0005448673  debye
$orbital_max_rnorm 0.44452973702478E-03
$end
